sensortag_addr.txt
ProjectData/test/IndividualSignals/*.csv
ProjectData/train/IndividualSignals/*.csv
ProjectData/test/*.csv
ProjectData/train/*.csv
!ProjectData/test/IndividualSignals/.gitkeep
!ProjectData/train/IndividualSignals/.gitkeep