.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fixed-bg-3 {
  padding-top: 15px;
  padding-bottom: 25px;
  margin-top: 5px;

  /* width: 400px !important; */
  
  width: 100% !important;
  min-height: 50px;
  
  background: #F7F7F7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.text-center {
  text-align: center;
}


.navbar-nav .nav-link {
  color: red;
}

.nav-font-size {
  font-size: 30px;
}


.inner-flex-top {
  display: flex;
  justify-content: center;
  height: 100%;  
}

.flex-30 {
  flex: 0 0 30%;
}

.flex-13 {
  flex: 0 0 13%;
}

.mb-mid {
  margin-top: 20px;
}

.md-icon {
  width: 200px;
  height: 200px;
}

.sm-icon {
  width: 100px;
  height: 100px;  
}

body {
  padding: 25px 50px;
}